.section-title {
  text-align: center;
  margin-bottom: 35px;
}

.section-title h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.section-title p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 10px;
}

/*! categories start  */

.categories {
  padding: 40px 0;
}

.categories .category-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.categories .category-list .category-item {
  box-shadow: 0 5px 15px rgba(199, 197, 197, 0.398);
}

.categories .category-list .category-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.categories .category-list .category-item span {
  font-size: 13px;
  color: rgb(26, 40, 28);
  font-weight: 300;
}

.categories .category-list .category-item a {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

/*! categories end  */

/*! products start  */

.products {
  margin-bottom: 40px;
  padding: 40px 0;
}

/*! products end  */

/*! campaign start  */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}

/*! campaign end  */

/*! blogs start  */
.blogs {
  margin-bottom: 30px;
}

.blogs .blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

/*! blogs end  */

/*! brands start  */
.brands {
  padding: 10px 20px;
  background-color: #fffbfb;
}

.brands .carousel-cell {
  width: 300px;
  counter-increment: carousel-cell;
}

.flickity-viewport {
  height: 100%;
  width: 100%;
}

.brands ul a img {
  width: 90px;
  height: 90px;
}

/*
.brands {
  position: relative;
  width: 180px;
  background: #2A2734;
  color: #fefefe;
  text-align: center;
  margin: 100px auto 0 auto;
  perspective: 3000px;
}

.brands .carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.brands .image a {
  position: absolute;
  width: 180px;
  justify-content: center;
  height: 120px;
  padding: 15px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

.brands span {
  margin: auto;
  font-size: 2rem;
}

.brands .image:nth-child(1) {
  transform: rotateY(0deg) translateZ(260px);
}

.brands .image:nth-child(2) {
  transform: rotateY(40deg) translateZ(260px);
}

.brands .image:nth-child(3) {
  transform: rotateY(80deg) translateZ(260px);
}

.brands .image:nth-child(4) {
  transform: rotateY(120deg) translateZ(260px);
}

.brands .image:nth-child(5) {
  transform: rotateY(160deg) translateZ(260px);
}

.brands .image:nth-child(6) {
  transform: rotateY(200deg) translateZ(260px);
}

.brands .image:nth-child(7) {
  transform: rotateY(240deg) translateZ(260px);
}

.brands .image:nth-child(8) {
  transform: rotateY(280deg) translateZ(260px);
}

.brands .image:nth-child(9) {
  transform: rotateY(320deg) translateZ(260px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
} */

/* .brand-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid #dee0ea;
  padding: 30px 5px;
  background-color: #F5F5F5;
} */

.brand-list .brand-item {
  opacity: 1;
  transition: 0.2s ease opacity;
}

/*! brands end  */

/*! policy start  */
.policy {
  background-color: #3C3D3F;
  padding: 20px 0;
  color: white;
}

.policy .carousel-cell {
  width: 45vh;
  counter-increment: carousel-cell;
  border-right: 1px solid #58595b;
}

.policy .carousel-cell:last-child {
  border-right: none;
}

.policy-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy .policy-item i {
  font-size: 30px;
  display: flex;
  margin-right: 15px;
}

.policy .policy-item .policy-texts {
  display: flex;
  flex-direction: column;
}

.policy .policy-item .policy-texts strong {
  font-weight: 500;
}

.policy .policy-item .policy-texts span {
  font-size: 12px;
  font-weight: 300;
}

/*! policy end  */